:host ::ng-deep .p-table input{
    width: 100px;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100%;
}

.content p-button{
    margin-right: 10px;
}

:host ::ng-deep .content .p-button{
    pointer-events: none;
    background-color: #E62020;
    border: 1px white;
    border-radius: 20px;
}

:host ::ng-deep .p-dropdown{
    width: 200px;
    margin-right: 10px;
}

.content input{
    width: 450px;
}