input{
    width: 100px;
}

.content{
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 100%;
}

:host ::ng-deep .content .p-button{
    background-color: #E62020;
    border: 1px white;
    border-radius: 20px;
}